 .container-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;

 }
.search-area {
    align-items: center;    
    display: flex;
    flex-direction: row;
    align-content: top;
    width: 100%;
    padding-left: 20px;
    margin: 2% 0 2% 0;
    justify-content: space-evenly;
}
#buttAdd{
    border: 14px solid green;
    background-color: green;

}