@font-face {
    font-family: Nobile;
    src: url("./assets/Nobile-Regular.ttf");
}

body {
    background-image: url(./assets/backgound-screen5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}