.nav {
    background-color: #141313;
    position: fixed;
    z-index: 10;
    width: 100vw;
    top: 0;
    
} 

.align{
    display: flex;
    flex-direction: row;
    color: orange;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    gap: 2rem;
    padding: 0 1rem;
}

.navBarUP{
    padding-top: 10px;
    padding-bottom: 10px;
   margin-left: -20px;
    justify-content: space-evenly;

}
.navBarDown{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to bottom, #000000,#101010);
    opacity: 76%;
    padding: 2px;
    padding-bottom: 2px;  
}
.navBarDown a{
    padding: none;
    text-decoration: none;
    color: #BEB8B8;
    margin: 20px;
}

.popoverInSide{
    background-color: #000000;
    color: #BEB8B8;
    
    
}
.elementsPopover{
    color: #BEB8B8;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.popover{
    opacity: 90%;
}
section p {
    margin: 0;
  }