.nav {
    background-color: #2c2828;
   
} 

.site-title{
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 0, 0);
    
}

.align{
    display: flex;
    flex-direction: row;
    color: orange;
    
}

.navBarUP{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left:10px;
}
.navBarDown{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111111;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to bottom, #000000,#101010);
    opacity: 76%;
    padding: 2px;
    padding-bottom: 2px;  
}
.navBarDown a{
    padding: none;
    text-decoration: none;
    color: #BEB8B8;
    margin: 5px;
}
