.search-bar{
    display: flex;
    align-items: center;
    background-color: inherit;
    gap: 1px;
}

.search-left,
.search-middle,
.search-right {
  flex: 1;
  display: flex;  
  align-items: center;  
}

select,
input[type="text"],
button {
  border: none;
  border-radius: 0;
  background-color: #ffffff;
}