@font-face {
    font-family: Nobile;
    src: url("./assets/Nobile-Regular.ttf");
}

.mangaArea1 {
    display: flex;
    justify-content: center;
    background-color: rgb(71, 71, 71);
    height: 100vh;
    padding-top: 90px;
    box-sizing: border-box;
    overflow: hidden;
}



.mangaMidle {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;

    background-color: rgba(0, 0, 0, 0.854);
    gap: 30px;

}

.mangaImage {
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    padding-right: 50px;
    border-right: 3px solid #d9d9d93f;
}

.imgManga {
    width: 400px;
    border: 0.5px solid #4E4E4E;
    border-radius: 12px;
}

.infoManga {
    font-family: Nobile;
    color: #ffffff;
    height: 100vh;
}

#titleName {
    font-size: 40px;
}

#subTitleGenero {
    font-size: 30px;
}

#number {
    width: 20px;
    text-align: center;
}

#buyButton{
    background-color: transparent;
    border: 3px solid #C35E00;
    border-radius: 12px;
    color: #C35E00;
    width: 100px;
    height: 41.3px;
    font-size: 15px;
}

.buttonsArea {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.quantityArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid #C35E00;
    border-radius: 12px;
    font-size: 15px;
    height: 35px;
    align-items: center;
    
    gap: 10px;
    color: #C35E00;

}

.quantityArea button {
    background-color: transparent;
    border: none;
    color: #C35E00;
    font-size: 15px;
    width: 40px;
}
.mangaInformations{
    width: 320px;
}
.mangaInformations p{
    font-size: 16px;

}
.mangaInformations span{
    font-size: 15px;
}


hr{
    background-color: #d9d9d93f;
    border: none;
    height: 2px;
    box-shadow: none;
    outline: none;
}